fastapi==0.129.0
uvicorn[standard]==0.42.0
pydantic==2.12.5
PyYAML==6.0.3
boto3==1.42.28
python-multipart==0.0.22
networkx==3.6.1
aiofiles==25.1.0
python-dotenv==1.2.1
pandas==2.3.3
pyarrow==23.0.1
pyspark==4.0.1
pyiceberg==0.10.0
kubernetes==35.0.0
requests==2.32.5
runpod==1.8.2
